<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of books</title>
</head>
<body>
<h2>People</h2>
<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id = ${person.getId()})}"
       th:text="${person.getFullName() + ', '  + person.getYearOfBirth()} "></a>
</div>
<br/>
<form th:method="GET" th:action="@{/people/new}">
    <input type="submit" value="New"/>
</form>
<br/>
<form th:method="GET" th:action="@{/}">
    <input type="submit" value="Back"/>
</form>

</body>
</html>