<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>
<h2>New book</h2>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="title">Enter title: </label>
    <input id="title" type="text" th:field="*{title}"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    <br/><br/>
    <label for="author">Enter author: </label>
    <input id="author" type="text" th:field="*{author}"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
    <br/><br/>
    <label for="yearOfIssue">Enter year of issue: </label>
    <input id="yearOfIssue" type="number" th:field="*{yearOfIssue}"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfIssue')}" th:errors="*{yearOfIssue}"></div>
    <br><br>
    <input type="submit" value="Create"/>
</form>
<br>
<form th:method="GET" th:action="@{/books}">
    <input type="submit" value="Back"/>
</form>
</body>
</html>